
// Fonts
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vue-good-table/dist/vue-good-table.css';

@import '~sweetalert2/src/sweetalert2.scss';

@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
.landing{
  font-family: 'Fredoka One', cursive;
  background-color: #00b3f7;
  background-size: 100% 100%;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  color: #000;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.options {

  width: 100%;

  padding: 10px 13px;
  margin-bottom: 15px;
  font-size: 0;
  font-family: Helvetica;
  text-align: center;
}
.options .button {
  font-size: 12px;
  vertical-align: middle;
}
.options::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url(../facebook/facebook-icons.png);
  background-size: auto;
  background-position: 0 -892px;
}
.options::before .reactions {
  opacity: 1;
  -webkit-transition: .1s .5s;
  transition: .1s .5s;
}
.options .reactions .icon-container:hover {
  -webkit-transform: scale(1.3, 1.3) translateY(-5px);
  transform: scale(1.3, 1.3) translateY(-5px);
}
.options:hover .reactions {
  opacity: 1;
}
.options.default {
  color: #7f7f7f !important;
}
.options.default::before {
  background-position: 0 -893px;
}
.options.r1 {
  color: #5890ff;
}
.options.r1::before {
  background-position: 0 -922px;
}
.options.r2::before {
  background-position: 0 -710px;
}
.options.r3::before {
  background-position: 0 -642px;
}
.options.r4::before {
  background-position: 0 -795px;
}
.options.r5::before {
  background-position: 0 -676px;
}
.options.r6::before {
  background-position: 0 -744px;
}
.options.r7::before {
  background-position: 0 -608px;
}
.options .reactions {
  position: absolute;
  bottom: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

}
.options .reactions .icon-container {
  display: inline-block;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}
.options .reactions .reaction {
  display: inline-block;
  height: 48px;
  width: 48px;
  -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
  transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
  -webkit-transition: opacity 0s .7s ease, -webkit-transform 0s .7s ease;
  transition: opacity 0s .7s ease, -webkit-transform 0s .7s ease;
  transition: transform 0s .7s ease, opacity 0s .7s ease;
  transition: transform 0s .7s ease, opacity 0s .7s ease, -webkit-transform 0s .7s ease;
  line-height: initial;
  opacity: 0;
  border-radius: 100%;
  background-image: url(../facebook/facebook-reactions.gif);
  background-repeat: no-repeat;
  background-size: auto;
}
.options .reactions .reaction.is-visible {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 1;
  pointer-events: all;
  -webkit-animation: testes .6s ease forwards;
  animation: testes .6s ease forwards;
}
@-webkit-keyframes testes {
  0% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 70px);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 70px);
  }
  30% {
    -webkit-transform: perspective(1px) scale(0.87, 0.87) translate(0, -4px);
    transform: perspective(1px) scale(0.87, 0.87) translate(0, -4px);
  }
  70% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 1px);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 1px);
  }
  100% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
  }
}
@keyframes testes {
  0% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 70px);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 70px);
  }
  30% {
    -webkit-transform: perspective(1px) scale(0.87, 0.87) translate(0, -4px);
    transform: perspective(1px) scale(0.87, 0.87) translate(0, -4px);
  }
  70% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 1px);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 1px);
  }
  100% {
    -webkit-transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
    transform: perspective(1px) scale(0.8, 0.8) translate(0, 0);
  }
}
.options .reactions .reaction.is-visible:hover {
  -webkit-transform: perspective(1px) scale(1, 1) translate(0, -5px);
  transform: perspective(1px) scale(1, 1) translate(0, -5px);
}
.options .reactions .reaction.is-visible:hover::after {
  opacity: 1;
}
.options .reactions .reaction::after {
  content: attr(data-popup);
  position: absolute;

  font-family: helvetica;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 7px;
  top: -25px;
  left: 50%;

}
.options .reactions .reaction.r1 {
  background-position: 0 0;
}
.options .reactions .reaction.r2 {
  background-position: -52px 0;
}
.options .reactions .reaction.r3 {
  background-position: -314px 0;
}
.options .reactions .reaction.r4 {
  background-position: -104px 0;
}
.options .reactions .reaction.r5 {
  background-position: -156px 0;
}
.options .reactions .reaction.r6 {
  background-position: -208px 0;
}
.options .reactions .reaction.r7 {
  background-position: -260px 0;
}

